<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="red.mlz.module.module.user.mapper.UserMapper">

    <insert id="insert"
            parameterType="red.mlz.module.module.user.entity.User"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into user
        (
        <if test="user.id !=null "> id,</if>
        <if test="user.phone !=null "> phone,</if>
        <if test="user.password !=null "> password,</if>
        <if test="user.nickName !=null "> nick_name,</if>
        <if test="user.avatar !=null "> avatar,</if>
        <if test="user.createTime != null">create_time,</if>
        <if test="user.updateTime != null">update_time,</if>
        is_deleted
        )
        value(
        <if test="user.id !=null ">#{user.id},</if>
        <if test="user.phone !=null ">#{user.phone},</if>
        <if test="user.password !=null ">#{user.password},</if>
        <if test="user.nickName !=null ">#{user.nick_name},</if>
        <if test="user.avatar !=null ">#{user.avatar},</if>
        <if test="user.createTime != null">#{user.create_time},</if>
        <if test="user.updateTime != null">#{user.update_time},</if>
        #{user.is_deleted}
        )
    </insert>
    <update id="update"
            parameterType="red.mlz.module.module.user.entity.User"
            useGeneratedKeys="true"
            keyProperty="id">
        update user set id = #{user.id},

        <if test="user.phone !=null">phone=#{user.phone},</if>
        <if test="user.password !=null and user.password !=''">password=#{user.password},</if>
        <if test="user.nickName !=null and user.nickName !=''">nick_name=#{nickName},</if>
        <if test="user.avatar !=null and user.avatar !=''">avatar=#{user.avatar},</if>
        <if test="user.createTime !=null and user..createTime !=''"> create_time=#{user.createTime},</if>
        <if test="user.updateTime !=null and user.updateTime !=''"> update_time=#{user.updateTime},</if>
        <if test="user.isDeleted !=null and user.isDeleted !=''"> is_deleted=#{user.isDeleted}</if>

        WHERE id=#{user.id},
    </update>
</mapper>
