<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="red.mlz.module.module.novelTagRelation.mapper.NovelTagRelationMapper">

    <insert id="insert"
            parameterType="red.mlz.module.module.novelTagRelation.entity.NovelTagRelation"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into novel_tag_relation
        (
        <if test="novelTagRelation.id !=null "> id,</if>
        <if test="novelTagRelation.novelId !=null "> novel_id,</if>
        <if test="novelTagRelation.tagId !=null "> tag_id,</if>
        <if test="novelTagRelation.createTime != null">create_time,</if>
        <if test="novelTagRelation.updateTime != null">update_time,</if>
        is_deleted
        )
        value(
        <if test="novelTagRelation.id !=null  ">#{novelTagRelation.id},</if>
        <if test="novelTagRelation.novelId !=null ">#{novelTagRelation.novelId},</if>
        <if test="novelTagRelation.tagId !=null ">#{novelTagRelation.tagId},</if>
        <if test="novelTagRelation.createTime != null">#{novelTagRelation.createTime},</if>
        <if test="novelTagRelation.updateTime != null">#{novelTagRelation.updateTime},</if>
        #{novelTagRelation.isDeleted}
        )
    </insert>
    <update id="update"
            parameterType="red.mlz.module.module.novelTagRelation.entity.NovelTagRelation"
            useGeneratedKeys="true"
            keyProperty="id">
        update novel_tag_relation set id = #{novelTagRelation.id},

        <if test="novelTagRelation.novelId !=null">phone=#{novelTagRelation.novelId},</if>
        <if test="novelTagRelation.tagId !=null">avatar=#{novelTagRelation.tagId},</if>
        <if test="novelTagRelation.createTime !=null"> create_time=#{novelTagRelation.createTime},</if>
        <if test="novelTagRelation.updateTime !=null"> update_time=#{novelTagRelation.updateTime},</if>
        <if test="novelTagRelation.isDeleted !=null"> is_deleted=#{novelTagRelation.isDeleted}</if>
        where  id = #{novelTagRelation.id},
    </update>
</mapper>
