<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.SmsTaskMapper">

            <insert id="insert"
                    parameterType="red.mlz.module.module.sms.entity.SmsTask"
                    useGeneratedKeys="true"
                    keyProperty="id">
                    insert into sms_task
                    (
                        <if test="smsTask.id !=null "> id,</if>
                    
                        <if test="smsTask.phone !=null "> phone,</if>
                    
                        <if test="smsTask.status !=null "> status,</if>
                    
                        <if test="smsTask.createTime !=null "> create_time,</if>
                    
                        <if test="smsTask.updateTime !=null "> update_time,</if>
                    
                        <if test="smsTask.isDeleted !=null "> is_deleted</if>
                    )value(
                        <if test="smsTask.id !=null "> #{smsTask.id},</if>
                    
                        <if test="smsTask.phone !=null "> #{smsTask.phone},</if>
                    
                        <if test="smsTask.status !=null "> #{smsTask.status},</if>
                    
                        <if test="smsTask.createTime !=null "> #{smsTask.createTime},</if>
                    
                        <if test="smsTask.updateTime !=null "> #{smsTask.updateTime},</if>
                    
                        <if test="smsTask.isDeleted !=null "> #{smsTask.isDeleted}</if>
                    )
            </insert>
            <update id="update"
                    parameterType="red.mlz.module.module.sms.entity.SmsTask"
                    useGeneratedKeys="true"
                    keyProperty="id">
                update sms_task set
                (
                <if test="smsTask.id !=null  and smsTask.id !=''"> id=#{smsTask.id},</if>
                
                <if test="smsTask.phone !=null  and smsTask.phone !=''"> phone=#{smsTask.phone},</if>
                
                <if test="smsTask.status !=null  and smsTask.status !=''"> status=#{smsTask.status},</if>
                
                <if test="smsTask.createTime !=null  and smsTask.createTime !=''"> create_time=#{smsTask.createTime},</if>
                
                <if test="smsTask.updateTime !=null  and smsTask.updateTime !=''"> update_time=#{smsTask.updateTime},</if>
                
                <if test="smsTask.isDeleted !=null  and smsTask.isDeleted !=''"> is_deleted=#{smsTask.isDeleted}</if>
                )
                WHERE
                id=#{smsTask.id},
            </update>
</mapper>
